<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Poppin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2A8CFB51FC3A6F700DF28F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2A8CFC91FC3A6F700DF28F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2A8CFD41FC3A6F700DF28F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
